/* 
HTML5 Doctor Reset v1.6.1
http://html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* --- */

@font-face {
  font-family: 'NorbertSchmal-Fett';
  src: url('./fonts/NorbertSchmal-Fett.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'NorbertBreit-Normal';
  src: url('./fonts/NorbertBreit-Normal.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ValueSansPro-Medium';
  src: url('./fonts/ValueSansPro-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  background-color: #161515;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99%;
  position: relative;
}

#game-board {
  --column: 4;
  --row: 4;
  --cell-size: 8vmin;
  --cell-gap: 1vmin;
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--column), var(--cell-size));
  grid-template-rows: repeat(var(--row), var(--cell-size));
  gap: var(--cell-gap);
  border-radius: 1vmin;
}

.cell {
  background-color: #333131;
  border-radius: 1vmin;
  cursor: pointer;
}

.tile {
  --y: 0;
  --x: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  font-family: NorbertSchmal-Fett, Helvetica, sans-serif;
  font-size: 4vmin;
  font-weight: bold;
  transition: all 0.4s linear;
  color: #161515;
  backface-visibility: hidden;
  pointer-events: none;
}

.tile__front {
  background-color: #feeb53;
  transform: perspective(600px) rotateY(0deg);
}

.tile__back {
  background-color: white;
  transform: perspective(600px) rotateY(180deg);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(10px);
  transition: all 0.4s ease-in-out;
}

.finish {
  transform: scale(0);
}

.menu {
  width: 40vmin;
  background-color: #fff;
  padding: 32px;
  border-radius: 10px;
}

.menu > h3 {
  text-align: center;
  margin-bottom: 24px;
  font-family: NorbertBreit-Normal, Helvetica, sans-serif;
  font-size: 2.5vmin;
  font-weight: bold;
  color: #2e323a;
}

.start {
  width: 100%;
  transform: scale(1);
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttons button {
  width: 100%;
  padding: 16px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #161515;
  font-family: NorbertBreit-Normal, Helvetica, sans-serif;
  font-size: 1.5vmin;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
}

#start-game-button {
  margin-bottom: 8px;
}

.settings {
  padding: 8px;
  border-radius: 8px;
  background-color: #d7dbdf;
}

.game-board__size {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 8px;
}

.tab-size {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-family: NorbertBreit-Normal, Helvetica, sans-serif;
  font-size: 1vmin;
  font-weight: bold;
  color: #575652;
  letter-spacing: 3px;
}

.tab-size:hover {
  background-color: #c6cbd0;
}

.tab-size__active {
  background-color: #2e323a;
  color: #fff;
}

.tab-size__active:hover {
  background-color: #2e323a;
}

.game-board__mode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.tab-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-family: NorbertBreit-Normal, Helvetica, sans-serif;
  font-size: 1vmin;
  font-weight: bold;
  color: #575652;
  letter-spacing: 3px;
}

.tab-mode:hover {
  background-color: #c6cbd0;
}

.tab-mode__active {
  background-color: #2e323a;
  color: #fff;
}

.tab-mode__active:hover {
  background-color: #2e323a;
}


#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  font-family: NorbertBreit-Normal, Helvetica, sans-serif;
  font-size: 2vmin;
  font-weight: bold;
  color: #fff;
}

.timer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vmin;
}

.statistics {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  border-radius: 4px;
  border: 1px solid #161515;
  font-family: NorbertBreit-Normal, Helvetica, sans-serif;
  font-size: 1vmin;
  font-weight: bold;
  letter-spacing: 2.5px;
}


#actions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  font-family: NorbertBreit-Normal, Helvetica, sans-serif;
  font-size: 2vmin;
  font-weight: bold;
  color: #fff;
}